@font-face { font-family: "PressStart"; src: url('police/PrStart.TTF'); } 

#head{
	height : 100px;
	width : 100%;
}

#title {
	color: #E3E9ED;
	font-size : 4em;
	padding-bottom : 0.2em;
	border-bottom : 3px solid #112130;
	font-family: PressStart;
	box-sizing: border-box;
}

body {
	background-color: #0D3B66;
}

canvas {
	margin-top : 40px;
	border : 5px solid #112130;
}

#key {
	color : #E3E9ED;
	font-family: Menlo, Monaco, 'Courier New', monospace;
}
#key h3{
	font-size : 1.5em;
	border-bottom: 1px #E3E9ED solid;
}
#key p{
	text-align: center;
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #081119;
	text-align: center;
	color: #CCC;
	font-family: Menlo, Monaco, 'Courier New', monospace;
}

footer p {
	
}

